tripods comments
<table border="1">
        <thead>
            <th>ID</th>
            <th>text</th>
            <th>date</th>
            <th>author</th>
            <th>rating</th>
        </thead>
        <tbody>
            {% for c in comments %}
            <tr onclick="location.href='/tripods/thetripod/?id={{c.idTripod}}' ; return false">
                <td >{{ c.idComment }}</td>
                <td>{{ c.text }}</td>
                <td>{{ c.date }}</td>
                <td>{{ c.author }}</td>
                <td>{{ c.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    