<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>runt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="grid-container">
    <div class="header">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
          <div id="demoFont">RUND: сайт подбора фотопринадлежностей</div>
        </a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </nav>

    </div>
    <div class="menuside">
      <ul class="menu">
        <label>Что у вас есть?</label>
        <li><a href="runt/body" class="active"><span>фотоаппараты</span></a></li>
        <li><a href="runt/lenses"><span>объективы</span></a></li>
        <li><a href="runt/flashes"><span>вспышки</span></a></li>
        <li><a href="runt/adapters"><span>переходники и адаптеры</span></a></li>
        <li><a href="runt/tripod"><span>штативы</span></a></li>
      </ul>

    </div>
    <form method="GET" action="/equipment">
      <div class="generator">
        <div class="jumbotron">
          <h1 class="display-4">Генератор фотооборудования</h1>
          <input class="form-control mr-sm-2" type="yours" name="search_things" id="search_things" placeholder="Введите название модели"
            aria-label="yours">
          <p class="lead">Что вам нужно подобрать? </p>
          <hr class="my-4">

          <blockquote>

            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" name="categories" id="categories"
                value="option1" aria-label="объективы">
              <label class="form-check-label" for="объективы">
                объективы
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" name="categories" id="categories"
                value="option2" aria-label="вспышки">
              <label class="form-check-label" for="вспышки">
                вспышки
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" name="categories" id="categories"
                value="option3" aria-label="адаптеры и проводники">
              <label class="form-check-label" for="адаптеры">
                адаптеры и проводники
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" name="categories" id="categories"
                value="option4" aria-label="штативы">
              <label class="form-check-label" for="штативы">
                штативы
              </label>
              <br />
            </div>

          </blockquote>

          <input type="submit" class="btn btn-outline-dark" value="Искать">
        </div>
      </div>
    </form>
  </div>
</body>

</html>