this is l_adapters
<table border="1">
    <thead>
        
        <th>company</th>
        <th>model</th>
        <th>price</th>
        <th>av_rating</th>
    </thead>
    <tbody>
        {% for l_adapter in l_adapters %}
        
        <tr onclick="location.href='/l_adapters/thel_adapter/?id={{l_adapter.idLAdapter}}' ; return false" >
            
            <td>{{ l_adapter.l_adapter_company }}</td>
            <td>{{ l_adapter.model }}</td>
            <td>{{ l_adapter.price}}</td>
            <td>{{ l_adapter.av_rating}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="location.href='/' ; return false" >home</button>