this is t_adapters
<table border="1">
    <thead>
        <th>company</th>
        <th>model</th>
        <th>price</th>
        <th>av_rating</th>
    </thead>
    <tbody>
        {% for t_adapter in t_adapters %}
        
        <tr onclick="location.href='/t_adapters/thet_adapter/?id={{t_adapter.idTAdapter}}' ; return false" >
            <td>{{ t_adapter.t_adapter_company }}</td>
            <td>{{ t_adapter.model }}</td>
            <td>{{ t_adapter.price}}</td>
            <td>{{ t_adapter.av_rating}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>