the body {{body.model}}
<table border="1">
    <thead>
        
        <th>company</th>
        <th>model</th>
        <th>price</th>
        
    </thead>
    <tbody>
        {% for body in bodies %}
        <tr >
            <td>{{ body.body_company }}</td>
            <td>{{ body.model }}</td>
            <td>{{ body.price}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<button onclick="location.href='/bodies/comments_thebody/?id={{id}}' ; return false"> feedbacks </button>