the body {{body.model}}
<table border="1">
    <thead>
        
        <th>company</th>
        <th>model</th>
        <th>price</th>
        <th>matrix</th>
        <th>power_supply</th>
        <th>display</th>
        
    </thead>
    <tbody>
        {% for body in bodies[0] %}
        <tr >
            <td>{{ body.body_company }}</td>
            <td>{{ body.model }}</td>
            <td>{{ body.price}}</td>
            <td>{{ body.matrix}}</td>
            <td>{{ body.power_supply}}</td>
            <td>{{ body.display}}</td>
                        
        </tr>
        {% endfor %}
    </tbody>
    
</table>
<br>
{% if bodies[1] and  bodies[1].status == 1%}
    <button onclick="location.href='/delete_body' ; return false"> delete </button>
{% elseif bodies[1].status == 0 %}

{% else %}
    
{% endif %}
<button onclick="location.href='/bodies/comments_thebody/?id={{id}}' ; return false"> feedbacks </button>
<button onclick="location.href='/' ; return false" >home</button>
