the lens 
<table border="1">
    <thead>
        
        <th>company</th>
        <th>model</th>
        <th>price</th>
        
    </thead>
    <tbody>
        {% for lens in lenses %}
        <tr >
            <td>{{ lens.lens_company }}</td>
            <td>{{ lens.model }}</td>
            <td>{{ lens.price}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<button onclick="location.href='/lenses/comments_thelens/?id={{id}}' ; return false"> feedbacks </button>